@using GridironFrontOffice.Domain.Forms
@inject ILeagueWizardService LeagueWizardService
@implements IDisposable

<MudText Typo="Typo.h5" Class="mb-3">Team Selection</MudText>

@if (LeagueWizardService.LoadingLeague)
{
	<MudStack AlignItems="AlignItems.Center" Class="mt-6">
		<MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
		<MudText Typo="Typo.body2" Class="mt-2">Setting up your league, this may take a moment...</MudText>
	</MudStack>
}
else if (LeagueWizardService.InitializationError != null)
{
	<MudAlert Severity="Severity.Error" Class="mt-4">
		@LeagueWizardService.InitializationError
	</MudAlert>
}
else
{
	<MudGrid Spacing="4">
		@foreach (var team in AvailableTeams)
		{
			<MudItem>
				<MudPaper Elevation="2" Class="p-3"
									Style="@SelectedStyle(team.ID, LeagueWizardService.CurrentLeagueSetupForm.SelectedTeamID)"
									OnClick="@(() => LeagueWizardService.UpdateLeagueSetupForm(new LeagueSetupForm { SelectedTeamID = team.ID }))">
					<div class="d-flex gap-1 align-center">
						<MudText Typo="Typo.h6">@team.Name</MudText>
						<MudText Typo="Typo.body2" Color="Color.Secondary">@team.City</MudText>
					</div>

					<MudCheckBox Checked="@(LeagueWizardService.CurrentLeagueSetupForm.SelectedTeamID == team.ID)" T="bool" />
				</MudPaper>
			</MudItem>
		}
	</MudGrid>
}


@code {

	IEnumerable<Team> AvailableTeams = Enumerable.Empty<Team>();

	protected override async Task OnInitializedAsync()
	{
		LeagueWizardService.OnChange += OnServiceStateChanged;
		await base.OnInitializedAsync();

		await RefreshTeamsAsync();
	}

	public void Dispose()
	{
		LeagueWizardService.OnChange -= OnServiceStateChanged;
	}

	private string SelectedStyle(int teamID, int? selectedTeamID)
	{
		if (selectedTeamID.HasValue && teamID == selectedTeamID.Value)
		{
			return "border: 2px solid var(--mud-palette-success);";
		}

		return string.Empty;
	}

	private async Task RefreshTeamsAsync()
	{
		if (LeagueWizardService.LeagueCreated)
		{
			AvailableTeams = await LeagueWizardService.GetTeamsForSelection();
		}
		else
		{
			AvailableTeams = Enumerable.Empty<Team>();
		}
	}

	private void OnServiceStateChanged()
	{
		InvokeAsync(async () =>
		{
			await RefreshTeamsAsync();
			StateHasChanged();
		});
	}
}